.header{
    display: flex;
    background-color: #b3cef4;
    height: auto;
}

.logo{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.center{
    margin: auto;
    width: 20%;
    padding-left: 20%;
    
}

.right{
    justify-content: space-between;
    margin-left: auto;
    align-self: center;
    font-size: 120%;
}